h1,
h2,
h4,
p {
  font-family: "Arvo", serif;
}

p {
  font-size: 17px;
}

#intro {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
<<<<<<< HEAD:pushups_logger/static/css/extended_beauty.css
body {
  background-image: url('../images/background_add.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
=======
>>>>>>> 9ea77226bddb10263d79a65aac5909147be49669:pushups_logger/static/extended_beauty.css
